<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>FinalExam</title>
        <link ref="stylesheet" href="style.css">
        
    </head>

    <style>
        h1, form {
            text-align: center;
            font-family: "Trirong", serif;
            background-color: #ECDEB9;
            color: #AD242C;
        }

        .button {
            font-family: "Trirong", serif;
            padding: 5px;
            color: #226F61;
        } 
    </style>


    <body>

        <h1>All have been removed!</h1>
      
        <form action="/" method="GET">
            <input type="submit" class="button" value="HOME">
        </form>

    </body>

    <script>
        
    </script>

</html>
